@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: black;
}

header {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(70, 70, 70);
}
header ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
header li {
  margin-right: 1rem;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  color: pink;
  text-decoration: underline;
}

main {
  padding: 0 1rem;
}

footer {
  margin-top: auto;
  color: white;
  background-color: rgb(70, 70, 70);
}
footer p {
  font-size: 13px;
  margin: 0.25rem 0;
  text-align: center;
}

table.pagination {
  width: 100%;
  margin-bottom: 1rem;
}
table.pagination td:first-child {
  text-align: start;
}
table.pagination td {
  text-align: center;
}
table.pagination td:last-child {
  text-align: end;
}
table.results, table.logger {
  border-collapse: collapse;
  width: 100%;
}
table.results th, table.logger th {
  color: white;
  background-color: rgb(106, 106, 255);
}
table.results tr:nth-child(2n+1), table.logger tr:nth-child(2n+1) {
  background-color: transparent;
}
table.results tr:nth-child(2n+0), table.logger tr:nth-child(2n+0) {
  background-color: rgb(230, 230, 230);
}
table.results th,
table.results td, table.logger th,
table.logger td {
  text-align: center;
  border: 1px solid black;
  padding: 0.25rem;
}
table.logger {
  font-size: 13px;
  font-family: monospace;
}
table.logger th,
table.logger td {
  text-align: start;
}

button a {
  color: inherit;
  text-decoration: none;
}

.logger-container {
  width: 100%;
  max-width: max(min-content, 800px);
  margin-left: auto;
  margin-right: auto;
}

.margin-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-b-05 {
  margin-bottom: 0.5rem;
}

.max-width-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.w-100 {
  width: 100%;
}
